<section class='container'>
	<h3 class='page-title'>Export</h3>
	<% if @client %>
		<p class="text-success text-center mb-4">
			Exporting from <%= cookies[:server_url] -%>
		</p>
		<%= render 'buttons' %>
		<%= render 'table' %>
	<% else %>
		<p class="text-danger text-center">No Connection Established</p>
	<% end %>
</section>
